.end-container {
	width: 80%;
	margin: 0 auto;
	background: #fff;
	padding: 50px;
	border-radius: 20px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	text-align: center;
	box-sizing: border-box;
}

.end-content {
	width: 100%;
	max-width: 800px;
	background: white;
	border-radius: 30px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	padding: 80px;
	text-align: center;
}

.end-title {
	margin-bottom: 24px;
}

.end-title-icon {
	width: 96px;
	height: 96px;
	background: linear-gradient(to bottom, #ffedd5, #facc15);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.end-title-icon-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-size: 48px;
	color: white;
	margin: 16px;
	border-radius: 50%;
}

.end-title-text {
	font-weight: bold;
	color: #6b7280;
	margin: 30px 0px;
}

.end-score {
	background: #f8fafc;
	border-radius: 24px;
	padding: 24px;
	margin-bottom: 24px;
	text-align: center;
	font-weight: bold;
}

.end-score-label {
	color: #6b7280;
	margin-bottom: 12px;
}

.end-score-value {
	font-weight: bold;
	color: #4f46e5;
	margin-bottom: 24px;
}

.end-score-time {
	color: #6b7280;
}

.end-buttons {
	gap: 24px;
	margin-top: 30px;
}

.end-restart-game-button {
	width: 100%;
	background-color: #4f46e5;
	color: #fff;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;

	hover: {
		background-color: #4f46e5;
		color: #fff;
		box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
	}
}

.end-return-home-button {
	width: 100%;
	background-color: #fff;
	border: 2px solid #4f46e5;
	color: #4f46e5;
	margin-top: 30px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;

	hover: {
		background-color: #4f46e5;
		color: #fff;
		box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
	}
}