// 垂直居中
.home-container {
	width: 80%;
	padding: 50px 20px;
	background: white;
	border-radius: 20px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	text-align: center;
	margin: 0 auto;
}

.title {
	display: block;
	font-size: 42px;
	font-weight: bold;
	color: #4f46e5;
}

.subtitle {
	display: block;
	margin: 10px 0;
	color: #6b7280;
	font-size: 22px;
}

.game-image {
	display: block;
	width: 100%;
	height: 400px;
	border-radius: 15px;
	object-fit: cover;
	margin: 50px 0px;
}

.start-button,
.record-button,
.info-button {
	width: 100%;
	margin-bottom: 20px;
}

.start-button {
	background-color: #4f46e5;
	color: #fff;
}

.record-button,
.info-button {
	width: 100%;
	border-radius: 10px;
	color: #4f46e5;
	background-color: #fff;
	border: 1px solid #4f46e5;
}