.history-container {
  margin-top: 20px;
}

.history-score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 95%;
  margin: 0 auto;
  height: 100px;
  padding: 20px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}